
  
  
<div class="row">
  
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Log in</div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
         
            <div class="form-group">
              <input [formControl]="email" required  class="form-control" placeholder="E-mail" type="email" autofocus="">
              <div *ngIf="email.invalid && (email.dirty ||  email.touched)"> 
                <div style="color: red;" *ngIf="email.errors.required"> 
                     Email required.
                </div>			   
                <div style="color: red;" *ngIf="email.errors.pattern"> 
                  Incorrect email formate (abc@xyc.com)
               </div>		
             </div> 
            </div>
            
            <div class="form-group">
              <input [formControl]="password" required class="form-control" placeholder="Password" type="password">
              <div *ngIf="password.invalid && (password.dirty || password.touched)"> 
                <div style="color: red;" *ngIf="password.errors.required"> 
                     Password required.
                </div>	
                <div style="color: red;" *ngIf="password.errors.minlength"> 
                    Password should be at least 6 characters
               </div>	
               <div style="color: red;" *ngIf="password.hasError('auth/unf')"> 
                There is no user record corresponding to this identifier.
             </div>	 
             <div style="color: red;" *ngIf="password.hasError('auth/pass')"> 
              Incorrect password
           </div>	   
                	
             </div> 
            </div>
            <div class="checkbox">
              
              <label class="pull-right">
                <button type="button" tabindex="2" [routerLink]="['/forget']" class="btn btn-link" >Forget Password</button>
              </label>
            </div>
            <button  type="submit" tabindex="1" [disabled]="!form.valid" class="btn btn-success btn-block">Login</button>
            
         
        </form>
          
      </div>
      <div class="panel-footer">
        <button [routerLink]="['/register']" class="btn btn-info btn-block">Register Here</button>
         
      </div>
    </div>
  </div><!-- /.col-->
</div><!-- /.row -->
<div *ngIf="showLoading">
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div id="overlay" style="display :block"  ></div>
</div>